*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    width: 80%;
    height: 500px;
    margin: 5% 15%;
    display: flex;
}
.fdiv{
    width: 30%;
    height: 500px;
    background-color: aquamarine;
    border: 1px solid black;
}
.sdiv{
    width: 50%;
    height: 500px;
    background-color:bisque;
    border: 1px solid black;
}
.card{
    width: 400px;
    height: 250px;
    position: relative;
    top: 100px;
    left: 50px;
    background-color: white;
    padding: 55px 40px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.card h2{
    padding: 5px;
}
.fdiv h1{
    margin: 10px 80px;
    font-weight: 800;
    text-decoration: underline;
}
.fdiv div input{
    width: 230px;
    height: 40px;
    position: relative;
    top: 40px;
    left: 10px;
    margin: 10px;
    

}
.fdiv div{
    display: flex;
}
#col{
    width: 50px;
    height: 35px;
    margin-left: 0;
}
.cardcol{
    display: flex;
    position: relative;
    top: 50px;
    

}
#cal{
    width: 70px;
    height: 40px;
    margin-left: 0px;
}